@model Services.Results.HomepageResult
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 text-center">
    <div id="carousel-example-generic" class="carousel slide">
        <div class="carousel-inner" style="height:445px !important">
                @using (Html.BeginForm("UploadFiles", "Anasayfa", new { Area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <label style="margin-bottom:15px" for="files" class="btn btn-default btn-file">
                        Fotoğraf Seç <input type="file" name="files" id="files" class="hidden" accept="image/jpeg, image/png,image/jpg" onchange="readURL(this);" />
                    </label>
                    <input style="margin-bottom:15px" id="saveImage" class="btn btn-success" type="submit" value="Yükle" disabled />
                    <div style="height:445px !important">
                        <img style="height:100% !important;width:100% !important" class="img-responsive img-full hidden" src="#" id="showImage">
                    </div>
                }
        </div>
    </div>
</div>

<div class="col-lg-12">
    <hr>
    <h1 class="intro-text text-center">
        <strong>Anasayfa</strong>
    </h1>
    <hr>
</div>
@{int a = 0; }
@foreach (var item in Model.Images)
{
    a += 1;
    <div class="col-sm-4 text-center">
        <img class="img-responsive img-thumbnail" src="@Url.Content(item.FilePath)" alt="@item.Code">
        <h4>
            <small>@item.Text</small>
        </h4>
    </div>
    if (a % 3 == 0)
    {
        <div class="clearfix"></div>
    }
}



@foreach (var item in Model.Contents)
{
    <form action="@Url.Action("UpdateText", "Anasayfa", new { Area = "Admin" })" method="post">
        <div class="row">
            <div class="form-group col-lg-12">
                <input type="hidden" name="ID" id="ID" value="@item.ID" />
                <input type="hidden" name="CreatedDate" id="CreatedDate" value="@item.CreatedDate" />
                <input type="hidden" name="DBCode" id="DBCode" value="@item.DBCode" />
                <div class="form-group col-lg-4">
                    <label>Başlık</label>
                    <input type="text" class="form-control" value="@item.Title" id="title" name="title">
                </div>
                <div class="form-group col-lg-7">
                    <label>Yazı</label>
                    <textarea class="form-control" rows="6" id="text" name="text">@item.Text</textarea>
                </div>
                <div class="form-group col-lg-1">
                    <label></label>
                    <input class="btn btn-success" type="submit" value="Güncelle" />
                    <button class="btn btn-danger" type="submit" formaction="@Url.Action("DeleteText", "Anasayfa", new { Area = "Admin" })">Sil</button>
                </div>
            </div>
        </div>
    </form>
}
       