<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kastamonu fanilası %100 pamuk iç giyim - dilek fanila">
    <meta name="keywords" content="fanila,kastamonu,dilek,dilek fanila,kastamonu fanilası,örgü,makina,el işi, dantel,dantelli,kadın giyim,erkek giyim
          pamuk,pamuklu,pamuk fanila,iç giyim, içlik, atlet,münire medresesi,nasrullah camii, nasrullah,münire,ter,kalın,kalın atlet,yöresel,yerli,yerel,gelenek,görenek">
    <meta name="author" content="Dilek Fanila">
    <meta name=”copyright” content=”(c)2017″ />
    <meta name=”owner” content=”DilekFanila” />
    <meta name=”title” content=”Fanila” />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/business-casual.css" rel="stylesheet" />
    <link href="~/css/lightbox.css" rel="stylesheet" />
    <link href="~/Plugins/FontAwesome/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="brand"><a href="@Url.Action("Index","Anasayfa")" style="color:white !important;text-decoration:none">DİLEK FANİLA</a></div>
    <div class="address-bar">HEPKEBİRLER MAHALLESİ, MÜNİRE MEDRESESİ EL SANATLARI ÇARŞISI NO:15, 37100 MERKEZ/KASTAMONU</div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="@Url.Action("Index","Anasayfa")">Dilek Fanila</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index","Anasayfa")">ANASAYFA</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Hakkımızda")">HAKKIMIZDA</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","KastamonuFanilasi")">KASTAMONU FANİLASI</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Urunlerimiz")">ÜRÜNLERİMİZ</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Iletisim")">İLETİŞİM</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">

        <div class="row">
            <div class="box">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer style="height:60px !important">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p style="height:0px !important;padding:15px !important">Copyright &copy; Dilek Fanila @DateTime.Now.Year </p>
            </div>
        </div>
    </footer>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/lightbox.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        $('.carousel').carousel({
            interval: 4000 //changes the speed
        });
        debugger;
        $('[data-toggle="tooltip"]').tooltip();
    </script>
</body>
</html>
