@model Services.Results.ProductResult
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <hr>
    <h1 class="intro-text text-center">
        <strong>Ürünlerimiz Yazıları</strong>
    </h1>
    <hr>
</div>

@foreach (var item in Model.Contents)
{
    <form action="@Url.Action("UpdateText", "Urunlerimiz", new { Area = "Admin" })" method="post">
        <div class="row">
            <div class="form-group col-lg-12">
                <input type="hidden" name="ID" id="ID" value="@item.ID" />
                <input type="hidden" name="CreatedDate" id="CreatedDate" value="@item.CreatedDate" />
                <input type="hidden" name="DBCode" id="DBCode" value="@item.DBCode" />
                <div class="form-group col-lg-4">
                    <label>Başlık</label>
                    <input type="text" class="form-control" value="@item.Title" id="title" name="title">
                </div>
                <div class="form-group col-lg-7">
                    <label>Yazı</label>
                    <textarea class="form-control" rows="6" id="text" name="text">@item.Text</textarea>
                </div>
                <div class="form-group col-lg-1" style="padding-top:25px">
                    <input class="btn btn-success" type="submit" value="Güncelle" />
                </div>
                <div class="form-group col-lg-1" style="padding-top:5px">
                    <button class="btn btn-danger" type="submit" formaction="@Url.Action("DeleteText", "Urunlerimiz", new { Area = "Admin" })" onclick="return confirm()">Sil</button>
                </div>
                @if (item == Model.Contents.LastOrDefault())
                {
                    <div class="form-group col-lg-1">
                        <input type="button" value="Yeni Yazı" class="btn btn-info" onclick="showDiv()" />
                    </div>
                }
            </div>
        </div>
    </form>
}
@if (Model.Contents.Count().Equals(0))
{
    <form method="post">
        <div class="form-group col-lg-12" id="area">
            <div class="form-group col-lg-4">
                <label>Başlık</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="form-group col-lg-7"> 
                <label>Yazı</label>
                <textarea class="form-control" rows="6" id="text" name="text"></textarea>
                @Html.EnumDropDownListFor(model => model.Gender, "Ürünlerimiz", new {@value="0", @class = "form-control" })
            </div>
            <div class="form-group col-lg-1" style="padding-top:25px">
                <label></label>
                <button class="btn btn-danger" type="submit" formaction="@Url.Action("AddText", "Urunlerimiz", new { Area = "Admin" })">Ekle</button>
            </div>
        </div>
    </form>
}
<form method="post">
    <div class="form-group col-lg-12" id="area" style="display:none;">
        <div class="form-group col-lg-4">
            <label>Başlık</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group col-lg-7">
            <label>Yazı</label>
            <textarea class="form-control" rows="6" id="text" name="text"></textarea>
            @Html.EnumDropDownListFor(model => model.Gender, "Ürünlerimiz", new { @class = "form-control" })
        </div>
        <div class="form-group col-lg-1" style="padding-top:25px">
            <label></label>
            <button class="btn btn-danger" type="submit" formaction="@Url.Action("AddText", "Urunlerimiz", new { Area = "Admin" })">Ekle</button>
        </div>
    </div>
</form>


<div class="col-lg-12 text-center">
    <div>
        <div style="height:100% !important">
            @using (Html.BeginForm("UploadFiles", "Urunlerimiz", new { Area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group col-lg-12">
                    <label style="margin:15px" for="files" class="btn btn-default btn-file">
                        Fotoğraf Seç <input type="file" name="files" id="files" class="hidden" accept="image/jpeg, image/png,image/jpg" onchange="readURL(this);" />
                    </label>
                    <input style="margin:15px" id="saveImage" class="btn btn-success" type="submit" value="Yükle" disabled />
                    <div class="form-group col-lg-12 hidden" id="imageDiv">
                        <div class="form-group col-lg-4"></div>
                        <div class="form-group col-lg-4">
                            <img class="img-responsive img-thumbnail" src="#" id="showImage">
                            <textarea class="form-control" rows="2" id="text" name="text" placeholder="Fotoğraf yazısı ekleyebilirsiniz." style="resize:none"></textarea>
                            @Html.EnumDropDownListFor(model => model.Gender, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-lg-4"></div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="col-lg-12">
    <hr>
    <h1 class="intro-text text-center">
        <strong>Ürünlerimiz Fotoğrafları</strong>
    </h1>
    <hr>
</div>
@{int a = 0; }
<div class="col-lg-12">
    <h4>
        KADIN GİYİM
        <br>
    </h4>
</div>
<br>
@foreach (var item in Model.Images.Where(q => q.DBCode == 4))
{
    a += 1;
    <div class="form-group col-sm-4 text-center" style="height:100% !important">
        <form method="post">
            <input type="hidden" name="ID" id="ID" value="@item.ID" />
            <input type="hidden" name="CreatedDate" id="CreatedDate" value="@item.CreatedDate" />
            <input type="hidden" name="DBCode" id="DBCode" value="@item.DBCode" />
            <input type="hidden" name="Code" id="Code" value="@item.Code" />
            <input type="hidden" name="FilePath" id="FilePath" value="@item.FilePath" />
            <img class="img-responsive img-thumbnail" src="@Url.Content(item.FilePath)" alt="@item.Code">
            <h4>
                <textarea class="form-control" id="text" name="text" style="resize:none">@item.Text</textarea>
            </h4>
            <button style="margin:10px" type="submit" class="btn btn-primary" formaction="@Url.Action("UpdateImageText", "Urunlerimiz", new { Area = "Admin" })">
                <i class="fa fa fa-recycle"></i> Düzenle
            </button>
            <button style="margin:10px" type="submit" class="btn btn-danger" formaction="@Url.Action("DeleteImage", "Urunlerimiz", new { Area = "Admin" })" onclick="return confirm()">
                <i class="fa fa fa-trash"></i> Sil
            </button>
        </form>
    </div>
    if (a % 3 == 0)
    {
        <div class="clearfix"></div>
    }
}
<div class="col-lg-12">
    <h4>
        ERKEK GİYİM
        <br>
    </h4>
</div>
<br>
@{ a = 0; }
@foreach (var item in Model.Images.Where(q => q.DBCode == 5))
{
    a += 1;
    <div class="form-group col-sm-4 text-center" style="height:100% !important">
        <form method="post">
            <input type="hidden" name="ID" id="ID" value="@item.ID" />
            <input type="hidden" name="CreatedDate" id="CreatedDate" value="@item.CreatedDate" />
            <input type="hidden" name="DBCode" id="DBCode" value="@item.DBCode" />
            <input type="hidden" name="Code" id="Code" value="@item.Code" />
            <input type="hidden" name="FilePath" id="FilePath" value="@item.FilePath" />
            <img class="img-responsive img-thumbnail" src="@Url.Content(item.FilePath)" alt="@item.Code">
            <h4>
                <textarea class="form-control" id="text" name="text" style="resize:none">@item.Text</textarea>
            </h4>
            <button style="margin:10px" type="submit" class="btn btn-primary" formaction="@Url.Action("UpdateImageText", "Urunlerimiz", new { Area = "Admin" })">
                <i class="fa fa fa-recycle"></i> Düzenle
            </button>
            <button style="margin:10px" type="submit" class="btn btn-danger" formaction="@Url.Action("DeleteImage", "Urunlerimiz", new { Area = "Admin" })" onclick="return confirm()">
                <i class="fa fa fa-trash"></i> Sil
            </button>
        </form>
    </div>
    if (a % 3 == 0)
    {
        <div class="clearfix"></div>
    }
}
<div class="col-lg-12">
    <h4>
        DİĞER MODEL VE RENKLERİMİZ
        <br>
    </h4>
</div>
<br>
@{ a = 0; }
@foreach (var item in Model.Images.Where(q => q.DBCode == 6))
{
    a += 1;
    <div class="form-group col-sm-4 text-center" style="height:100% !important">
        <form method="post">
            <input type="hidden" name="ID" id="ID" value="@item.ID" />
            <input type="hidden" name="CreatedDate" id="CreatedDate" value="@item.CreatedDate" />
            <input type="hidden" name="DBCode" id="DBCode" value="@item.DBCode" />
            <input type="hidden" name="Code" id="Code" value="@item.Code" />
            <input type="hidden" name="FilePath" id="FilePath" value="@item.FilePath" />
            <img class="img-responsive img-thumbnail" src="@Url.Content(item.FilePath)" alt="@item.Code">
            <h4>
                <textarea class="form-control" id="text" name="text" style="resize:none">@item.Text</textarea>
            </h4>
            <button style="margin:10px" type="submit" class="btn btn-primary" formaction="@Url.Action("UpdateImageText", "Urunlerimiz", new { Area = "Admin" })">
                <i class="fa fa fa-recycle"></i> Düzenle
            </button>
            <button style="margin:10px" type="submit" class="btn btn-danger" formaction="@Url.Action("DeleteImage", "Urunlerimiz", new { Area = "Admin" })" onclick="return confirm()">
                <i class="fa fa fa-trash"></i> Sil
            </button>
        </form>
    </div>
    if (a % 3 == 0)
    {
        <div class="clearfix"></div>
    }
}